:root{
    scroll-behavior: smooth;
  }

 .header-img{
     background-image: url("https://static.clubs.nfl.com/image/private/packers/jfw32jbeg6ay5rbjp1js");
     background-size: cover;
     background-repeat: no-repeat;
 }
  
.bg-img{
    background-image: url("https://cdn.vox-cdn.com/thumbor/pk5gp5jryCMb2MyESxT9jqKHDvk=/50x0:3946x2597/1200x800/filters:focal(50x0:3946x2597)/cdn.vox-cdn.com/uploads/chorus_image/image/38934850/455462974.0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
}

.bg-green{
    background-color: #213d30de;
}

.bg-yellow{
    background-color: #f4ad14e7;
}

.nfl-font{
    font-family: 'Oswald', sans-serif;
  }

.custom-text{
   color: #213d30;
   font-family: 'Oswald', sans-serif;
}

.yellow-text{
   color: #f4ad14e7;
}

.button-color{
   background-color: #213d308f;
   border: none;
}

.button-color:hover{
    background-color: #2363458f;
    border: none;
}

.form-color{
    background-color: #c5bfbf98;
}

.review-color{
    background-color: #f8f1e2e7;
}

.green-shadow{
    box-shadow: 0px 0px 12px #213D30;
}


.spill {
    bottom:-485px;
 }
